@import 'variables/colors';
@import 'typography';

@import 'header';
@import 'newsfeed';
@import 'common/paper';

body {
	.basic-fonts();
	  background: @cLighter;
	  margin: 0;
}

* {
	  box-sizing: border-box;
}

.content{
	padding-top: 1.5em;
}

@-ms-viewport {
	width: device-width;
}
